{% extends "base.html" %}
{% load static %}
{% block content %}
  {% for password in passwords %}
    <article class="media content-section">
      <div class="media-body">
          <div class="article-metadata">
              <div>
                  <a class="btn btn-success btn-sm mt-1 mb-1" href="#">Create Password</a>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update Password</a>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'password-delete' password.id %}">Delete Password</a>                
              </div>
          </div>
        <h2><a class="article-title" href="{% url 'password-detail' password.id %}">{{ password.id }}</a></h2>
        <p class="article-content">password: {{ password.saved_password }} website: {{ password.website }}</p>
      </div>
    </article>
  {% endfor %}
    
{% endblock content %}
